.Card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 220px;
    padding: 2px 16px;
    margin:auto;
    height: auto;
    display: inline-block;
    border: 1px solid black;
    margin-left: 5%;
    border-radius: 20px;
    margin-top: 2px;
}

.Title {
    text-align: center;
    border-bottom: 1px solid black;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
}

.Image {
    text-align: center;
}

.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.ATK {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.Description {
    overflow: scroll;
    height: 200px;
}

input {
    margin-left: 40px;
}

.Description::-webkit-scrollbar {
    width: 10px;
    
}

/* .Description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
} */

.Description::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    height: 10px;
}

.stats {
    font-size: 15px;
    font-family: fantasy;
}

h1 {
    text-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    font-size: 70px;
  font-weight: 600;
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb, #553c9a);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.header {
    background: url('https://img.pokemondb.net/images/featured/pokedex-frlg.png');
	background-attachment: scroll;
    text-align: center;
	width: 100%;
	height: 600px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
    animation: animatedBackground 10s linear infinite alternate;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }